.Grid {
    display: block;
    grid-template-areas: "stack";

    >* {
        grid-area: stack;
    }

    img {
        width: 100%;
        max-height: 60vh;
        object-fit: cover;
    } 
}

.björk_info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    font-family: Papyrus;
    font-size: 2rem;
    color: darkblue;
    margin: 0;
}

h2 {
    font-family: Papyrus;
    color: darkslateblue;
    font-size: 1.5rem;
}